<div>
  <h1>{{ $ctrl.name }}</h1>
  
  <form name="productForm" novalidate>
    <div class="form-group">
      <label for="productName" class="control-label">Product title</label>
      <input
        id="productName"
        class="form-control"
        type="text"
        name="title"
        placeholder="Awesome Product"
        ng-model="$ctrl.product.title"
        required
        ng-minlength="3"
        ng-maxlength="20">
  
      <div
        class="help-block"
        ng-messages="productForm.title.$error"
        ng-if="productForm.$submitted || productForm.title.$touched">
        <p ng-message="minlength">Name is too short.</p>
        <p ng-message="maxlength">Name is too long.</p>
        <p ng-message="required">Name is required.</p>
      </div>
    </div>
    
    <div class="form-group">
      <label for="productImage" class="control-label">Product image</label>
      <input
        id="productImage"
        class="form-control"
        type="file"
        ng-model="$ctrl.product.image"
        file-load>
      
      <div class="preview-image center-block" ng-show="$ctrl.product.image">
        <img
          ng-src="{{ $ctrl.product.image.data }}"
          class="img-responsive img-thumbnail"
          alt="Preview image">
      </div>
    </div>
    
    <div class="form-group">
      <label for="productDescription">Product description</label>
      <textarea
        name="productDescription"
        id="productDescription"
        class="form-control"
        rows="4"
        placeholder="The best product ever..."
        required
        ng-minlength="10"
        ng-maxlength="255"
        ng-model="$ctrl.product.description">
      </textarea>
  
      <div
        class="help-block"
        ng-messages="productForm.productDescription.$error"
        ng-if="productForm.$submitted || productForm.productDescription.$touched">
        <p ng-message="minlength">Description is too short.</p>
        <p ng-message="maxlength">Description is too long.</p>
        <p ng-message="required">Description is required.</p>
      </div>
    </div>
    
    <div class="form-group">
      <label for="productPrice" class="control-label">Price</label>
      <input
        type="number"
        name="productPrice"
        id="productPrice"
        class="form-control"
        placeholder="One billion!"
        required
        min="1"
        max="1000000"
        ng-model="$ctrl.product.price">
  
      <div
        class="help-block"
        ng-messages="productForm.productPrice.$error"
        ng-if="productForm.$submitted || productForm.productPrice.$touched">
        <p ng-message="min">Price should be greater than 0</p>
        <p ng-message="max">Price should be less than 1000001</p>
        <p ng-message="required">Price is required.</p>
      </div>
    </div>
    
    <div class="form-group">
      <button class="btn btn-success" ng-click="$ctrl.save(productForm)">
        Save
      </button>
    </div>
  </form>

</div>
