<div>
  <h1>{{ ::$ctrl.product.title }}</h1>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="preview-image" ng-show="$ctrl.product.image">
        <img ng-src="{{ $ctrl.product.image.data }}" alt="Thumbnail" class="img-responsive img-circle">
      </div>
      
      <div class="no-image" ng-hide="$ctrl.product.image">
        <span class="label label-danger">
          Image is not uploaded
        </span>
      </div>
      
      <div>
        Price:
        <span class="label label-info">
          {{ ::$ctrl.product.price | currency }}
        </span>
      </div>
      <div>
        Description:
        {{ ::$ctrl.product.description }}
      </div>
    </div>
  </div>
  
  <button
    ng-click="$ctrl.toUpdatePage()"
    class="btn btn-lg btn-success">
    Update product
  </button>
  
  <button
    class="btn btn-lg btn-danger"
    ng-click="$ctrl.deleteProduct()">
    Delete product
  </button>
</div>
